# **Pandas DataFrame filter() â€“ Logical operations**


Reference
* https://builtin.com/data-science/pandas-filter
* https://sparkbyexamples.com/pandas/pandas-dataframe-filter/
* https://pandas.pydata.org/pandas-docs/version/0.19/generated/pandas.DataFrame.filter.html

In [ ]:
# Import pandas
import pandas as pd

# Dataframe from a dictionary

In [ ]:
technologies= {
    'Courses':["Spark","PySpark","Spark","Java","PySpark","PHP"],
    'Fee' :[22000,25000,23000,24000,26000,27000],
    'Duration':['30days','50days','30days','60days','35days','30days']
          }
technologies_df = pd.DataFrame(technologies)
technologies_df

   Courses    Fee Duration
0    Spark  22000   30days
1  PySpark  25000   50days
2    Spark  23000   30days
3     Java  24000   60days
4  PySpark  26000   35days
5      PHP  27000   30days

# Filter Rows using logical operators

We can use the logical operators on column values to filter rows.

# Filter columns using specific column names (items)

Items param is used to match on exact values.

In [ ]:
# Filter rows by selecting only Fee values higher than 23000
df1=technologies_df[technologies_df.Fee > 23000]
df1

   Courses    Fee Duration
1  PySpark  25000   50days
3     Java  24000   60days
4  PySpark  26000   35days
5      PHP  27000   30days

In [ ]:
# Filter rows by selecting only Pyspark courses
df2=technologies_df[technologies_df.Courses == 'PySpark']
df2

   Courses    Fee Duration
1  PySpark  25000   50days
4  PySpark  26000   35days