# DataFrame - Rename columns

Reference
* https://www.geeksforgeeks.org/how-to-rename-columns-in-pandas-dataframe/

In [2]:

import pandas as pd

In [3]:
# initialize list of lists
data = [['1949', 'Jan', 112, 48], ['1949', 'Feb', 118, 50], ['1949', 'Mar', 132, 54], ['1949', 'Apr', 129, 51], ['1949', 'May', 121, 55],
        ['1950', 'Jan', 110, 54], ['1950', 'Feb', 121, 55], ['1950', 'Mar', 112, 57], ['1950', 'Apr', 138, 61], ['1950', 'May', 113, 62],
        ['1951', 'Jan', 129, 58], ['1951', 'Feb', 134, 59], ['1951', 'Mar', 118, 60], ['1951', 'Apr', 111, 62], ['1951', 'May', 125, 63],
        ['1952', 'Jan', 111, 62], ['1952', 'Feb', 125, 63], ['1952', 'Mar', 133, 65], ['1952', 'Apr', 121, 64], ['1952', 'May', 115, 61],
        ['1953', 'Jan', 125, 61], ['1953', 'Feb', 133, 64], ['1953', 'Mar', 111, 70], ['1953', 'Apr', 132, 71], ['1953', 'May', 121, 68],
        ['1954', 'Jan', 129, 71], ['1954', 'Feb', 112, 72], ['1954', 'Mar', 112, 73], ['1954', 'Apr', 129, 72], ['1954', 'May', 118, 74],
        ['1955', 'Jan', 133, 75], ['1955', 'Feb', 118, 74], ['1955', 'Mar', 128, 76], ['1955', 'Apr', 122, 77], ['1955', 'May', 132, 76]]

# Create the pandas DataFrame
flights = pd.DataFrame(data, columns=['year', 'month','passengers', 'ticket_cost'])

# print dataframe.
flights.head(10)

   year month  passengers  ticket_cost
0  1949   Jan         112           48
1  1949   Feb         118           50
2  1949   Mar         132           54
3  1949   Apr         129           51
4  1949   May         121           55
5  1950   Jan         110           54
6  1950   Feb         121           55
7  1950   Mar         112           57
8  1950   Apr         138           61
9  1950   May         113           62

In [ ]:
# Column names from headers
column_names = list(flights.columns.values)
column_names

## Using rename() function

In [19]:
column_names1=flights.rename(columns = {'year':'y', 'month':'m',
                              'passengers':'p','ticket_cost':'tc'})

print(column_names1)

       A    B    C   D
0   1949  Jan  112  48
1   1949  Feb  118  50
2   1949  Mar  132  54
3   1949  Apr  129  51
4   1949  May  121  55
5   1950  Jan  110  54
6   1950  Feb  121  55
7   1950  Mar  112  57
8   1950  Apr  138  61
9   1950  May  113  62
10  1951  Jan  129  58
11  1951  Feb  134  59
12  1951  Mar  118  60
13  1951  Apr  111  62
14  1951  May  125  63
15  1952  Jan  111  62
16  1952  Feb  125  63
17  1952  Mar  133  65
18  1952  Apr  121  64
19  1952  May  115  61
20  1953  Jan  125  61
21  1953  Feb  133  64
22  1953  Mar  111  70
23  1953  Apr  132  71
24  1953  May  121  68
25  1954  Jan  129  71
26  1954  Feb  112  72
27  1954  Mar  112  73
28  1954  Apr  129  72
29  1954  May  118  74
30  1955  Jan  133  75
31  1955  Feb  118  74
32  1955  Mar  128  76
33  1955  Apr  122  77
34  1955  May  132  76

## By assigning a list of new column names

The columns can also be renamed by directly assigning a list containing the new names to the columns attribute of the Dataframe object for which we want to rename the columns. The disadvantage of this method is that we need to provide new names for all the columns even if want to rename only some of the column

In [17]:
column_names2=flights
column_names2=flights.columns = ['A', 'B', 'C','D']
print(column_names2)

['A', 'B', 'C', 'D']

## Rename column names using DataFrame set_axis() function

In this example, we will rename the column name using the set_axis function, we will pass the new column name and axis that should be replaced with a new name in the column as a parameter.

In [14]:
# Option 2 - Rename column names using DataFrame set_axis() function
column_names3=flights.set_axis(['A', 'B', 'C','D'], axis='columns')
print(column_names3)

       A    B    C   D
0   1949  Jan  112  48
1   1949  Feb  118  50
2   1949  Mar  132  54
3   1949  Apr  129  51
4   1949  May  121  55
5   1950  Jan  110  54
6   1950  Feb  121  55
7   1950  Mar  112  57
8   1950  Apr  138  61
9   1950  May  113  62
10  1951  Jan  129  58
11  1951  Feb  134  59
12  1951  Mar  118  60
13  1951  Apr  111  62
14  1951  May  125  63
15  1952  Jan  111  62
16  1952  Feb  125  63
17  1952  Mar  133  65
18  1952  Apr  121  64
19  1952  May  115  61
20  1953  Jan  125  61
21  1953  Feb  133  64
22  1953  Mar  111  70
23  1953  Apr  132  71
24  1953  May  121  68
25  1954  Jan  129  71
26  1954  Feb  112  72
27  1954  Mar  112  73
28  1954  Apr  129  72
29  1954  May  118  74
30  1955  Jan  133  75
31  1955  Feb  118  74
32  1955  Mar  128  76
33  1955  Apr  122  77
34  1955  May  132  76

## Rename column names using DataFrame add_prefix() and add_suffix() functions

In [ ]:
rankings_pd = rankings_pd.add_prefix('col_')
rankings_pd = rankings_pd.add_suffix('_1')
rankings_pd.head()

In [20]:
# Define a dictionary containing ICC rankings
rankings = {'test': ['India', 'South Africa', 'England',
                     'New Zealand', 'Australia'],
            'odi': ['England', 'India', 'New Zealand',
                    'South Africa', 'Pakistan'],
            't20': ['Pakistan', 'India', 'Australia',
                    'England', 'New Zealand']}

# Convert the dictionary into DataFrame
rankings_pd = pd.DataFrame(rankings)

# Before renaming the columns
print(rankings_pd.columns)

rankings_pd = rankings_pd.add_prefix('col_')
rankings_pd = rankings_pd.add_suffix('_1')

# After renaming the columns
rankings_pd.head()

Index(['test', 'odi', 't20'], dtype='object')

     col_test_1     col_odi_1    col_t20_1
0         India       England     Pakistan
1  South Africa         India        India
2       England   New Zealand    Australia
3   New Zealand  South Africa      England
4     Australia      Pakistan  New Zealand